.head{
  background-color: rgb(0, 96, 100);
  margin: -5px;
  padding: 2px;
}

.head h1{
  padding: 10px;
  font-style: italic;
  font-size: 36px;
}

.homecook {
  background-color: LightCoral;
  border: 2px solid black;
  height: 100px;
  margin: 40px;
  padding: 20px;
}

.homecook a{
  font-size: 36px;
}

.homecook p{
  opacity: 0;
}

.homecook p:hover{
  opacity: 1;
  font-size: 24px;
}

.homecook_img {
  border-radius: 25%;
  position: relative;
  float: left;
  margin-right: 10px;
}



.homecook_img div{
  position: absolute;
  bottom: 50px;
  right: 50px;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: 'Brush Script MT', cursive;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
  box-shadow: 10px 10px;
}

.homecook_img:hover{
  cursor: pointer;
}

.homecook_img:hover div{
  width: 150px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7;
}

.views {
  background-color: rgb(149, 236, 186);
  height: 100px;
  border: 2px solid black;
  margin: 40px;
  padding: 20px;
}

.views a{
  font-size: 36px;
}

.views p{
  opacity: 0;
}

.views p:hover{
  opacity: 1;
  font-size: 24px;
}

.moments {
  background-color: rgb(255, 211, 242);
  height: 100px;
  border: 2px solid black;
  margin: 40px;
  padding: 20px;
}

.moments a{
  font-size: 36px;
}

.moments p{
  opacity: 0;
}

.moments p:hover{
  opacity: 1;
  font-size: 24px;
}

#baselayer{
  position: absolute;
  opacity: 0.6;
  width: 1910px;
  height: 400px;
}

#baselayer:hover{
  opacity: 0;
}

#us {
  position: relative;
  border-radius: 15%;
  opacity: 0;
}

#us:hover{
  opacity: 1;
}
